body {
  background-color: #742222;
  color: #ffffff;
  font-family:
    "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
}

header {
  background-color: #551f1f;
}

h1 {
  font-size: 40px;
  color: #ffffff;
  text-shadow: #000000 0px 0px 10px;
  text-align: center;
  padding: 20px;
}

h2 {
  font-size: 32px;
  color: #ffffff;
  text-shadow: #000000 0px 0px 10px;
  text-align: center;
}

h3 {
  color: #551f1f;
  font-size: 28px;
}

p,
li {
  font-size: 20px;
  color: #551f1f;
}

nav ul {
  list-style-type: none;
  margin: 5px;
  padding: 5px;
  text-align: center;
}

nav ul li a {
  display: inline;
  background-color: #ffffff;
  color: #551f1f;
  padding: 5px 10px;
  border: 5px solid #932c2c;
}

footer {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding: 10px;
}

footer p {
  color: #ffffff;
}

.content-box {
  display: flex;
  border: 10px solid #551f1f;
  padding: 20px;
  margin: 20px 0;
  background-color: #ffffff;
  color: #551f1f;
}

.box-text {
  flex: 1;
  padding: 20px;
}
.box-image {
  justify-content: flex-end;
  margin-right: 20px;
  border: 10px solid #551f1f;
  box-shadow: #000000 0px 0px 10px;
}

/* This code styles the Back to Top button. */
#back-to-top {
  /* This positions the button at the bottom right corner of the page at all times. */
  position: fixed;
  bottom: 5px;
  right: 30px;
  /* This gives the button a white background, dark red text, a red border and a shadow. */
  background: whitesmoke;
  color: #551f1f;
  border: 5px solid #b53636;
  border-radius: 5px;
  box-shadow: #121212 0px 0px 10px;
  /* This adds some padding and margin, removes text decorations and sets the font size for the text. */
  padding: 10px 20px;
  margin-bottom: 1.5%;
  font-size: 16px;
  text-decoration: none;
  /* This makes the button change sizes smoothly in 0.3s when the user hovers over it. */
  transition: all 0.3s;
}

/* This code changes the styling of the button when the user hovers over it. */
#back-to-top:hover {
  background: #b53636;
  color: whitesmoke;
  border-color: whitesmoke;
  transform: scale(1.1);
}
