/* 
  This is my CSS stylesheet for my Treaty 4 Website. I chose to use a dark red, monochromatic color scheme 
  in my design. I used red because it's a color that represents importance and strength, which could help 
  bring attention to the impact of this treaty. Also, red can be associated with struggle, which reflects 
  the challenges faced by Indigenous Peoples because of this treaty. Finally, in Indigenous cultures, red 
  represents lifeblood and connection to ancestors. While the main background of the website is dark red, 
  most of the screen is covered in a white background behind the text, which I would consider a light theme. 
  I chose to use a light theme because there's a lot of text that should be read on my website. However, the 
  darker red around the edges helps to frame the content and draw people in. For my fonts, I chose to use a 
  sans-serif font for the headers and navigation menu, and a serif font for the paragraphs. This makes it so 
  that the headers and nav bar, which users will see first, are more eye-catching and easier to read, while 
  the paragraphs, which people will be reading for more time, seem more professional and trustworthy.
*/

* {
  line-height: 140%;
}

*:not(html, body, main, #back-to-top) {
  /* Applies the fadeslideup animation to everything except the html, body, main, and back-to-top elements. */
  opacity: 0;
  animation: fadeslideup 1.3s cubic-bezier(0.19, 1.44, 0.45, 1.23) forwards;
}

html {
  /* This sets the font size for the entire page to 62.5% of the default size, which is usually 16px. This makes it easier to use rem units for font sizes, since 1rem will now equal 10px. */
  font-size: 62.5%;
}

/* This code styles the entire page's content. */
body {
  /* Here, I chose the background color, text color, font family and margin for the whole page. The property margin: 0 auto; centers the content of the page and makes it so that the content doesn't touch the edges of the page. */
  background: linear-gradient(90deg, #7c2828, #932c2c);
  color: whitesmoke;
  /* font-family is a list of fonts that the browser will try to use in order. If the first font, Gill Sans, isn't available, it will try to use Gill Sans MT, and so on for the rest of the list. If none of the font listed are supported, then the browser will just use the default serif or sans-serif font depending on what you put. */
  font-family:
    "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
  margin: 0 auto;
  font-size: 1.6rem;
}

header {
  background-color: #551f1f;
}

#treaty-flag {
  display: block;
  border: 3px solid #932c2c;
  /* This centers the image and adds some margin below it. */
  margin: 0 auto;
  margin-bottom: 50px;
  /* This makes it so that it takes 0.3s for the image to animate when the user hovers over it. */
  transition: all 0.3s;
}

#treaty-flag:hover {
  /* This adds a shadow, changes the border, and makes the image bigger when the user hovers over it. */
  border-color: whitesmoke;
  box-shadow: #121212 0px 0px 10px;
  transform: scale(1.03);
}

/* The next blocks of code styles the headers and paragraphs on the webpage. */
h1 {
  font-size: 40px;
  color: whitesmoke;
  text-shadow: #121212 0px 0px 10px;
  text-align: center;
  padding: 20px;
  margin-top: 0;
}

h2 {
  font-size: 32px;
  color: whitesmoke;
  text-shadow: #121212 0px 0px 10px;
  text-align: center;
}

h3 {
  color: #551f1f;
  font-size: 28px;
}

p,
li {
  /* 
    This sets the font for all paragraphs and list items to be a serif font, 
    which is usually considered to look more professional than a sans-serif font. 
    I chose to use a serif font for the paragraphs because they are the main text
    of the website, and I wanted them to look more trustworthy. 
  */
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  color: #551f1f;
}

/* This code styles the navigation menu in the nav element. */
nav ul {
  /* This removes the bullet points from the list, adds some margin and padding around the list, and centers the text. */
  list-style-type: none;
  margin: 5px;
  padding: 5px;
  text-align: center;
}

/* This code styles the navigation links in the nav element. */
nav ul li {
  /* I made these elements inline so they will be arranged next to each other instead of on separate lines. */
  display: inline;
  /* This gives the buttons a white background, a dark red border, padding around the text, and a small margin between them. */
  background-color: #551f1f;
  border: 5px solid #932c2c;
  padding: 5px 10px;
  margin: 0 0.5%;
  /* This sets the font for the text in the buttons and the font size. */
  font-family:
    "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
  font-size: 20px;
  /* This makes the button change colors smoothly in 0.3s when the user hovers over it. */
  transition: all 0.3s;
  /* This makes it so that the user can't select the text in the buttons.*/
  user-select: none;
}

/* This code styles the text of the navigation links to be dark red and have no text decoration. */
nav ul li a {
  color: whitesmoke;
  text-decoration: none;
}

/* This code changes the styling of the button when the user hovers over it. */
nav ul li:hover {
  background: #b53636;
  border-color: whitesmoke;
  color: whitesmoke;
  font-size: 21px;
}

nav ul li:focus,
nav ul li:active {
  background: #551f1f;
  border-color: #e27979;
  color: whitesmoke;
  font-size: 20px;
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  text-align: center;
  padding: 5px;
  border: 3px solid #551f1f;
}

/* This code makes it so that the main content doesn't touch the edges of the page and stops a bit before the edges. */
main {
  margin: 0 5%;
}

/* This code styles the footer of the page. */
footer {
  background-color: #551f1f;
  text-align: center;
  padding: 10px;
}

/* This code styles the text inside the footer. */
footer p {
  color: whitesmoke;
}

/* This code styles the content boxes on the page. */
.content-box {
  /* I made the boxes a flex container, so the main text, header, and image can be arranged next to each other in a box. */
  display: flex;
  border: 10px solid #551f1f;
  padding: 20px;
  margin: 20px 0;
  background-color: whitesmoke;
  color: #551f1f;
  /* This makes the box change sizes smoothly in 0.3s when the user hovers over it. */
  transition: all 0.3s;
}

.content-box:nth-child(even) {
  /* This makes every other box have the image on the left and the text on the right, instead of the normal setting of text on the left and image on the right. This just makes the website look a bit less repetitive. */
  flex-direction: row-reverse;
}

.content-box:hover {
  /* This adds a shadow and makes the box bigger when the user hovers over it. */
  box-shadow: #121212 0px 0px 15px;
  transform: scale(1.001);
}

/* The .box-text class is used for all the text inside the box, such as the header and paragraphs. */
.box-text {
  /* This makes the text take up all the available space in the box, and adds some padding around it. */
  flex: 1;
  padding: 20px;
}

/* The .box-image class is used for the image inside the box. */
.content-box img,
.content-box a img {
  /* The justify-content: flex-end property is used to align the image to the 
    right side of the box, and the margin-right property adds some space between 
    the image and the edge of the box.*/
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
  /* This adds a border and a shadow to the image to make it stand out more. */
  border: 10px solid #551f1f;
  box-shadow: #121212 0px 0px 10px;
}

/* This code styles the Back to Top button. */
#back-to-top {
  /* This positions the button at the bottom right corner of the page at all times. */
  position: fixed;
  bottom: 5px;
  right: 30px;
  /* This gives the button a white background, dark red text, a red border and a shadow. */
  background: whitesmoke;
  color: #551f1f;
  border: 5px solid #b53636;
  border-radius: 5px;
  box-shadow: #121212 0px 0px 10px;
  /* This adds some padding and margin, removes text decorations and sets the font size for the text. */
  padding: 10px 20px;
  margin-bottom: 1.5%;
  font-size: 16px;
  text-decoration: none;
  /* This makes the button change sizes smoothly in 0.3s when the user hovers over it. */
  transition: all 0.3s;
  animation: fade 1.3s ease-in-out forwards;
}

/* This code changes the styling of the button when the user hovers over it. */
#back-to-top:hover {
  /* This changes the background color, text color and border color of the button when the user hovers over it. */
  background: #b53636;
  color: whitesmoke;
  border-color: whitesmoke;
  /* This makes the button bigger when the user hovers over it. */
  transform: scale(1.1);
}

/* loading animation */

@keyframes fadeslideup {
  /* 0% is the starting point of the animation. The following CSS properties are applied at the beginning of the animation. */
  0% {
    /* Makes the content invisible */
    opacity: 0;
    /* Moves all the content 20px from its original position */
    transform: translateY(20px);
  }
  100% {
    /* Makes the content fully visible */
    opacity: 1;
    /* Moves all the content back to its original position */
    transform: translateY(0);
  }
}

/* loading animation for backToTop */
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
